<footer>
			<div id="footer">
				<div class="container">
					<div class="row row-bottom-padded-md">
						<div class="col-md-12 col-sm-12 col-xs-12 fh5co-footer-link">
							<h3>Sobre nós</h3>
							<p>Estudantes de Sistemas de Informação que gostam de novidades, desenvolvemos esse site para o curso DSID, ministrado pelo professor Fantinato.</p>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
							<p>Template adaptado de Free Html5 
								<a href="#">Module</a>. <br>Feito com <i class="icon-heart3"></i> 
								por <a href="http://freehtml5.co/" target="_blank">Fábio</a>,
								 <a href="http://freehtml5.co/" target="_blank">Kaíque</a>,
								 <a href="http://freehtml5.co/" target="_blank">Rodrigo</a>,
								 <a href="http://freehtml5.co/" target="_blank">Vinicius</a>,
								   / Imagens por: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>