<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/"><i class="icon-airplane"></i>Viajaê</a></h1>
					<!-- START menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="/">Home</a></li>
							<li><a href="/voos">Voos</a></li>
							<li><a href="/hoteis">Hotéis</a></li>							
							<li><a href="https://www.rentalcars.com/br" target="_blank">Carros</a></li>
							<li><a href="https://getmalas.com.br/" target="_blank">Malas</a></li>
							
						</ul>
					</nav>
				</div>
			</div>
		</header>